In [1]:
import pandas as pd
import numpy as np

In [2]:

# Load the dataset
df = pd.read_csv('./data/interactions_train_df.csv')
df = df[['user_id', 'content_id', 'game', 'view']]

# Content Data of Games
df_game = pd.read_csv('./data/articles_df.csv')
df_game.head(4)

# Creating a sparse pivot table with users in rows and items in columns
users_items_matrix_df = df.pivot(index='user_id',
                                 columns='content_id',
                                 values='view').fillna(0)

In [3]:
len(df.content_id.value_counts())

4862

In [4]:
users_items_matrix_df.shape

(3757, 4862)

In [5]:
new_row = pd.DataFrame(np.ones((1, 4862),dtype=int))
temp = users_items_matrix_df.drop(users_items_matrix_df.index[1:])
temp.loc[0][temp.columns]= 1
temp

content_id,0,1,2,3,5,6,7,8,9,10,...,5103,5104,5105,5106,5107,5108,5109,5110,5111,5112
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
pred_scores = temp.loc[0].values

df_scores = pd.DataFrame({'content_id': list(temp.columns),
                            'score': pred_scores})

df_rec = df_scores.set_index('content_id')\
    .join(df_game.set_index('content_id'))
df_rec =  df_rec[['game','score']]
df_rec

                                                         game  score
content_id
0                                                 007 Legends    1.0
1                                                   0RBITALIS    1.0
2           1... 2... 3... KICK IT! (Drop That Beat Like a...    1.0
3                                             10 Second Ninja    1.0
5                                           100% Orange Juice    1.0
...                                                       ...    ...
5108                                             sZone-Online    1.0
5109                                             samurai_jazz    1.0
5110                                the static speaks my name    1.0
5111                                                theHunter    1.0
5112                                         theHunter Primal    1.0

[4862 rows x 2 columns]

In [7]:
# Extract content_id and game columns as a dictionary
json_data = df_rec['game'].to_dict()

# Save the dictionary as a JSON file
import json
with open('data.json', 'w') as file:
    json.dump(json_data, file)

In [10]:
temp.to_csv("user-content_sample.csv",index=False)